{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}


    <div class="jumbotron">
        <h1 class="display-3">Отслеживайте свое обучение</h1>
        <p class="lead">
           Создайте свой собственный журнал обучения и ведите список тем, которые вы изучаете. Всякий раз, когда вы узнаете что-то новое по какой-либо теме, делайте запись с кратким изложением того, что вы узнали.
        </p>
        {% if not user.is_authenticated %}
            <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary" role="button">Регистрация &raquo;</a>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <canvas id="bg-img"></canvas>
    <p>Журнал обучения помогает вам отслеживать свои знания по любой теме, которую вы изучаете</p>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'learning_logs/js/TweenMax.min.js' %}"></script>
    <script src="{% static 'learning_logs/js/rain.js' %}"></script>
{% endblock javascript %}